APP_NAME="Examen Blanc CREM"
APP_ENV=production
APP_KEY=                          # générer avec: php artisan key:generate
APP_DEBUG=false
APP_URL=https://votre-domaine.o2switch.net

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nom_de_votre_bdd
DB_USERNAME=utilisateur_bdd
DB_PASSWORD=mot_de_passe_bdd

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=sync

HELLOASSO_CLIENT_ID=14ab4263fb29471c877e0ad6a487a72b
HELLOASSO_CLIENT_SECRET=WuIm6hxGpqD47IzBvsqM/RyHp5f+Rkhe
HELLOASSO_ORG_SLUG=comite-regional-des-etudiants-en-medecine-de-poitiers
HELLOASSO_FORM_SLUG=examen-blanc-s2
HELLOASSO_FORM_TYPE=Event
